body {
    background-color: #FE9800;
    text-decoration: none;
    text-align: center;
}


.app {
  margin-top: 35px;
}

.center {
  margin: 1px auto;
  width: 30%;
  padding: 1px;
}


table {
  font-size: 30px;
}

table, td {
    border: 1px solid black;
}

table, th, td {
  border-radius: 3px;
}

th {
  background-color: black;
  color: white;
}

td {
  background-color: rgb(153, 204, 255);
}

.data-table {
  margin-bottom: 50px;
}


/* footer */
.podekovani {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}


p < .podekovani {
  padding: 0px;
}

p {
	text-align: center;
  margin-bottom: 0em;
  margin-top: 0em;
  margin-bottom: 3px;
}

a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

